.elsie-swash-caps-regular {
  font-family: "Elsie Swash Caps", serif;
  font-weight: 400;
  font-style: normal;
}

.elsie-swash-caps-black {
  font-family: "Elsie Swash Caps", serif;
  font-weight: 900;
  font-style: normal;
}

.mid-section-styles {
  background-image: url("./images//whiteCity.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 32px;
}

.oleo-script-regular {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.oleo-script-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}

.spicy-rice-regular {
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}

.contact {
  background-image: url("./images//contact.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
